<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
<style>
  .stream {
    position: absolute;
    top:20%;
    left:50%;
  }
</style>
</head>
<body>
<form action="/auth?_method=DELETE" method="post">
      <input type="submit" value="Logout">
    </form>
<h1>Welcome! <%= user.username %></h1>
<form action="/users/profile" method='GET'>
  <input type='text' name='game' placeholder='search a game'>
  <input type="submit" value='submit'>
</form>
<div style='width: 650px; height: 400px;overflow-y: auto; overflow-x: hidden;'>
<div>
  <h1><%= result.results[0].name%></h1>
  <h3>Releases:</h3>
  <h4><%= result.results[0].aliases%></h4>
  <img src="<%= result.results[0].image.small_url%>" alt="">
  <div class="review">

  </div></br>
<%= result.results[0].deck %>
</div>
<div class="test">
  <%- result.results[0].description %>
</div>
</div>
  <form action="/users/profile" method="POST">
    <input type="hidden" name="favorite[gameName]" value="<%= result.results[0].name%>">
    <input type="hidden" name="favorite[gameImage]" value="<%= result.results[0].image.small_url%>">
    <input type="submit" value="SAVE">
  </form>

<div class="stream">
<button class="next">next</button>
    <% if (stream.streams[0]) { %>
      <iframe
        src="http://player.twitch.tv/?channel=<%= stream.streams[0].channel.name %>"
        height="360"
        width="650"
        frameborder="0"
        scrolling="no"
        allowfullscreen="true">
    </iframe>
    <% } %>

  <div id="favorites">
    <h2><%= user.username %>'s Favorites:</h2>
    <% favorites.forEach((fave) => { %>
      <div class="fave">
        <img src="<%= fave.gameImage %>" alt="">
        <p><%= fave.gameName %></p>
        <form action="/users/profile/<%= fave._id %>?_method=DELETE" method="POST">
          <input type="submit" value="Delete">
        </form>
      </div>
<% }) %>


</div>

</body>

<script>

</script>
</html>
